BOT_TOKEN=YOUR_NEW_BOT_TOKEN
ALLOWED_GROUP_ID=-5543122284
BKASH=01571092111
NAGAD=01571092111
ROCKET=01571092111
BINANCE_PAY_ID=784264674
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"YOUR_PROJECT_ID"}
